# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

/build/
node_modules/
dist/
tools/keys
*.svg
*.sqlite3

*.py[cod]
*.log
*.o
*.pb.cc
*.pb.h
*_pb2.py
*.app
*.exe
*.war
*.conf
*.db
